@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gowun+Dodum&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

header.main {
  text-align: center;
}

section.main {
  display: flex;
  align-items: center;
  flex-direction: column;

  select,
  input {
    width: 100%;
    margin-bottom: 10px;
    padding: 15px;
  }

  h2 {
    font-family: "Black Han Sans", sans-serif;
    margin-top: 20px;
  }

  div.table-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    max-height: 400px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    table.list {
      width: 100%;
      max-width: 800px;
      border-collapse: collapse;

      th,
      td {
        text-align: center;
        padding: 8px;
      }

      th {
        background-color: #f2f2f2;
        font-weight: bold;
      }

      td {
        border: 1px solid #ddd;
      }
    }
  }
}

div.snap-container {
  overflow-y: auto;
  height: 100vh;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory; /* 스크롤 스냅핑 활성화 */
  /* 스크롤바 숨기기 */
  -ms-overflow-style: none;
  scrollbar-width: none;
}
div.snap-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

div.mg-10 {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

div.background {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start; /* 각 섹션의 시작 지점에 스냅 */
  scroll-snap-stop: always; /* 스크롤 스냅이 확실히 멈추도록 설정 */
}

div.background.restroom {
  background-image: url(../images/2.jpg);
}
div.background.trash-can {
  background-image: url(../images/3.jpg);
}
div.background.wifi {
  background-image: url(../images/4.jpg);
}

div.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 1;
}

section.search {
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 2;

  font-weight: 100;
  color: white;
  font-size: 4rem;
  text-shadow: 1px 1px 1px black;

  h6 {
    font-size: 2rem;
    font-family: "Gowun Dodum", sans-serif;
    color: black;
    text-shadow: none;
  }
}

section.search.restroom {
  border: 1px solid red;
  left: 65vw;
  top: 50vh;
}

section.search.trash-can {
  border: 1px solid blue;
  left: 25vw;
  top: 40vh;
}

section.search.wifi {
  border: 1px solid green;
  left: 50vw;
  top: 45vh;
}

div.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

div.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

span.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

span.close:hover,
span.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1024px) {
  section.search.restroom {
    left: 60vw;
    top: 45vh;
  }

  section.search.trash-can {
    left: 30vw;
    top: 35vh;
  }

  section.search.wifi {
    left: 50vw;
    top: 40vh;
  }
}

@media (max-width: 768px) {
  section.search.restroom {
    left: 55vw;
    top: 40vh;
  }

  section.search.trash-can {
    left: 35vw;
    top: 30vh;
  }

  section.search.wifi {
    left: 50vw;
    top: 35vh;
  }
}

@media (max-width: 480px) {
  section.search.restroom {
    left: 50vw;
    top: 35vh;
  }

  section.search.trash-can {
    left: 50vw;
    top: 25vh;
  }

  section.search.wifi {
    left: 50vw;
    top: 30vh;
  }
}
