<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>어디든</title>
<link rel="stylesheet" href="../../static/css/main.css"
	th:href="@{/static/css/main.css}" />
<script th:inline="javascript">
	const rootPath = /*[[${rootPath}]]*/'/eartheden/';
</script>
<script src="../../static/js/main.js" th:src="@{/static/js/main.js}"></script>
</head>
<body>
	<header class="main">
		<h1>어디든</h1>
	</header>
	<section class="search">

		<label for="citySelect">도시 선택:</label> <select id="citySelect">
			<option value="">도시 선택</option>
			<option value="서울">서울</option>
			<option value="대구">대구</option>
			<option value="부산">부산</option>
			<option value="대전">대전</option>
			<option value="광주">광주</option>
			<option value="인천">인천</option>
		</select> <label for="districtSelect">구 선택:</label> <select id="districtSelect">
			<option value="">구 선택</option>
		</select>

		<button id="searchButton">검색</button>
		<label for="searchInput">검색어 입력:</label> <input type="text"
			id="searchInput" placeholder="위치를 검색하세요" />
		<!-- 모달 구조 추가 -->
		<div id="modal" class="modal">
			<div class="modal-content">
				<span class="close">&times;</span>
				<div id="modalResultSection"></div>
			</div>
		</div>
	</section>
	<section id="resultSection"></section>
</body>
</html>
