@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cute+Font&family=Hahmlet:wght@100..900&family=Poor+Story&family=Single+Day&display=swap");

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

.cute-font-default {
  font-family: "Cute Font", sans-serif;
}

.cute-font-1dot5 {
  font-family: "Cute Font", sans-serif;
  font-size: 1.5rem;
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

body {
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: linear-gradient(
    to top,
    white,
    rgb(39, 230, 255),
    rgb(45, 107, 241)
  );
  background-size: cover;
}

html {
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

header {
  img {
    cursor: pointer;
    position: absolute;
    top: 45%;
    left: 50%;
    width: 40vw;
    height: auto;
    transform: translate3d(-50%, -50%, 0);
    z-index: 1;
  }
  form {
    display: flex;
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    text-align: center;
    z-index: 2;
    input {
      width: 20vw;
      padding: 10px;
      outline: none;
      border: 1px solid #ccc;
      border-radius: 15px;
      box-shadow: 1px 1px 1px rgb(193, 190, 196);
    }
    input::placeholder {
      text-align: center;
    }
  }
  nav {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    color: white;
    ul {
      display: flex;
      justify-content: center;
      width: 50vw;
      padding: 10px;
      border-radius: 15px;
      box-shadow: 0px 0px 15px 4px white;
      gap: 100px;
      li {
        cursor: pointer;
      }
    }
  }
}

section.main {
  .buttons {
    margin: 10%;
    text-align: center;
    position: relative;
  }

  .button-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn-hover {
    font-family: "Poor Story", sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50%;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .btn-hover.color-1 {
    font-size: 2rem;
    width: 200px;
    height: 225px;
    background-image: linear-gradient(
      70deg,
      #25aae1,
      #40e495,
      #30dd8a,
      #2bb673
    );
    box-shadow: 0 4px 15px 0 white;
  }
  .btn-hover.color-2 {
    width: 150px;
    height: 175px;
    background-image: linear-gradient(
      to left,
      #667eea,
      #764ba2,
      #6b8dd6,
      #8e37d7
    );
    box-shadow: 0 4px 15px 0 white;
  }
  .btn-hover.color-3 {
    font-size: 3rem;
    width: 180px;
    height: 200px;
    background-image: linear-gradient(
      to right,
      #fc6076,
      #ff9a44,
      #ef9d43,
      #e75516
    );
    box-shadow: 0 4px 15px 0 white;
  }
  .btn-hover.color-4 {
    width: 90px;
    height: 105px;
    background-image: linear-gradient(
      30deg,
      #29323c,
      #485563,
      #2b5876,
      #4e4376
    );
    box-shadow: 0 4px 15px 0 white;
  }
  .btn-hover.color-5 {
    width: 40px;
    height: 50px;
    cursor: default;
    background-image: linear-gradient(
      to right,
      #ed6ea0,
      #ec8c69,
      #f7186a,
      #fbb03b
    );
    box-shadow: 0 4px 15px 0 white;
  }

  .btn-hover.color-6 {
    width: 100px;
    height: 120px;
    cursor: default;
    background-image: linear-gradient(
      to right,
      #25aae1,
      #4481eb,
      #04befe,
      #3f86ed
    );
    box-shadow: 0 4px 15px 0 white;
  }
  .btn-hover.color-7 {
    width: 60px;
    height: 75px;
    cursor: default;
    background-image: linear-gradient(
      to right,
      #eb3941,
      #f15e64,
      #e14e53,
      #e2373f
    );
    box-shadow: 0 5px 15px white;
  }

  .button-container:nth-of-type(1) {
    width: 200px;
    top: 40%;
    left: 20%;
    transform: translate3d(-50%, -50%, 0);
  }
  .button-container:nth-of-type(2) {
    width: 150px;
    top: 75%;
    left: 33%;
    transform: translate3d(-50%, -50%, 0);
  }
  .button-container:nth-of-type(3) {
    width: 180px;
    top: 45%;
    left: 75%;
    transform: translate3d(-50%, -50%, 0);
  }
  .button-container:nth-of-type(4) {
    width: 90px;
    top: 75%;
    left: 65%;
    transform: translate3d(-50%, -50%, 0);
  }
  .button-container:nth-of-type(5) {
    width: 40px;
    top: 73%;
    left: 76%;
    transform: translate3d(-50%, -50%, 0);
  }
  .button-container:nth-of-type(6) {
    width: 100px;
    top: 30%;
    left: 60%;
    transform: translate3d(-50%, -50%, 0);
  }
  .button-container:nth-of-type(7) {
    width: 60px;
    top: 85%;
    left: 20%;
    transform: translate3d(-50%, -50%, 0);
  }

  .button-container img {
    width: 100px;
    height: auto;
    z-index: 0;
  }

  .button-container img.tales-1,
  .button-container img.tales-3 {
    width: 150px;
    height: auto;
  }
  .button-container img.tales-5,
  .button-container img.tales-7 {
    width: 50px;
    height: auto;
  }

  .cloud {
    background-color: white;
    position: absolute;
  }

  .type-1 {
    width: 500px;
    height: 300px;
    border-radius: 0 80% 0 0;
    top: 85%;
    left: 0%;
  }

  .type-2 {
    width: 500px;
    height: 300px;
    border-radius: 0 60% 0 0;
    top: 65%;
    left: -20%;
  }

  .type-3 {
    width: 500px;
    height: 300px;
    border-radius: 70% 0 0 0;
    top: 55%;
    left: 90%;
  }

  .type-4 {
    width: 500px;
    height: 300px;
    border-radius: 40% 0 0 0;
    top: 75%;
    left: 80%;
  }

  .type-5 {
    width: 500px;
    height: 300px;
    border-radius: 50% 0 0 0;
    top: 90%;
    left: 60%;
  }
}
